In [ ]:
#lets combine the hits from metagenomes with the results from databases

In [1]:
import pandas as pd

In [2]:
database_hits=pd.read_csv("../Databases/analysis/tables_and_result/comb_trna_seq_plus_ribo_fix_march.csv",sep="\t")

In [3]:
wgs_hits=pd.read_csv("../Metagenomic/tables_and_results/WGS_ribo_trna.csv",sep="\t")

In [3]:
len(database_hits["ribozyme_control"].unique())

126

In [4]:
len(database_hits["rnarobo_seq"].unique())

126

In [7]:
len(wgs_hits["ribozyme_control"].unique())

1698

In [8]:
len(wgs_hits["rnarobo_seq"].unique())

1698

In [8]:
#database_hits=pd.read_csv("/mnt/mnemo6/lukas/Python/ribozymes/genome/combined_v3/falsepositive/fourth/C/comb_trna_seq_plus_ribo_fix_feb.csv",sep="\t")

In [4]:
merged=pd.concat([database_hits,wgs_hits])

In [5]:
merged

,ID,trna_nr,trna_start,trna_end,trna_type,codon,ins_start,ins_end,trna_confidence,psuedo,rnarobo_start,rnarobo_end,rnarobo_seq,trnaseq,ribozyme_control,study_origin
0,SAMEA1906455_a1_ct67271_vs1@Unclassified_virus...,10,8561,8478,Leu,TAA,0,0,53.4,pseudo,8477,8423,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,ACCCCTTTATCCGAACAGGTATAGGAGATGGTCTTAAACACCATTT...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAATGCT...,1.0
1,SAMEA1906455_a1_ct67271_vs1@Unclassified_virus...,1,17583,17654,Sup,CTA,0,0,60.8,NaN,17655,17710,|GAATAGC|GTA|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTC...,TCTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCGTAAGTAGAAACCTCCACGTGGTGCTATTCGGATAACGC...,1.0
2,SAMEA1906581_a1_ct61757_vs1@Siphoviridae__sp__...,3,113271,113199,Met,CAT,0,0,53.9,NaN,113198,113143,|GAGTTGC|AG|TTAGTCA|ACC|T|CC|ACGT|GGT|GCAACTT|...,CGCGGGGTATAGCAACAGGTAGCTTGTCAGTCTCATAATCTGAAGG...,GAGTTGCAGTTAGTCAACCTCCACGTGGTGCAACTTGGATTAAAAC...,1.0
3,SAMEA2580118_a1_ct141914_vs1@Podoviridae__sp__...,16,33852,33767,Leu,TAA,0,0,55.7,NaN,33766,33712,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCCAGAATGGTGGAATTGGTAGACACGTTAGAATTAAGATCTAATG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,1.0
4,SAMEA2580118_a1_ct141914_vs1@Podoviridae__sp__...,9,41510,41431,Met,CAT,0,0,42.9,NaN,41430,41376,|GATTCAC|AT|AGTAAGA|ACC|T|CC|ACGC|GGT|GTGAATC|...,CGTGGAGTAGAGAAGTTGGTCATCTCGCTAGGCTCATAACCTAGAA...,GATTCACATAGTAAGAACCTCCACGCGGTGTGAATCGGGTAATGCT...,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12510,SRR1522982.2622580,1,111,182,Sup,CTA,0,0,58.4,NaN,183,238,|GAATAGC|GTA|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTC...,TCTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCGTAAGTAGAAACCTCCACGTGGTGCTATTCGGATAACGC...,NaN
12511,SRR1522982.4111288,1,147,63,Ser,GCT,0,0,39.6,NaN,60,4,|GGAATAC|GTG|ATATTCA|ACC|T|CC|TCGT|GGT|GTATTCT...,GTACTCAAGTTGGTTAAGAGGAGGCACTGCTAACGCCTTAGACCAA...,GGAATACGTGATATTCAACCTCCTCGTGGTGTATTCTGGGTCATGC...,NaN
12512,SRR1522982.4750961,1,91,181,Ser,GCT,0,0,51.2,NaN,184,240,|GGAATAC|GTG|ATATTCA|ACC|T|CC|TCGT|GGT|GTATTCT...,GATAAGGTACTCAAGTTGGTTAAGAGGAGGCACTGCTAACGCCTTA...,GGAATACGTGATATTCAACCTCCTCGTGGTGTATTCTGGGTCATGC...,NaN
12513,SRR1522982.5505649,1,102,192,Ser,GCT,0,0,51.0,NaN,195,251,|GGAATAC|GTG|ATATTCA|ACC|T|CC|TCGT|GGT|GTATTCT...,GATAAGGTACTCAAGTCGGTTAAGAGGAGGCACTGCTAACGCCTTA...,GGAATACGTGATATTCAACCTCCTCGTGGTGTATTCTGGGTCATGC...,NaN
12514,SRR1522982.5876801,1,249,163,Ser,GCT,0,0,45.3,NaN,160,104,|GGAATAC|GTG|ATATTCA|ACC|T|CC|TCGT|GGT|GTATTCT...,AGGTACTCAAGTTGGTTAAGAGGAGGCACTGCTAACGCCTTAGACC...,GGAATACGTGATATTCAACCTCCTCGTGGTGTATTCTGGGTCATGC...,NaN

In [12]:
len(merged["trnaseq"].unique())

5810

In [13]:
len(merged["ribozyme_control"].unique())

1753

In [14]:
merged

,ID,trna_nr,trna_start,trna_end,trna_type,codon,ins_start,ins_end,trna_confidence,psuedo,rnarobo_start,rnarobo_end,rnarobo_seq,trnaseq,ribozyme_control,study_origin
0,SAMEA1906455_a1_ct67271_vs1@Unclassified_virus...,10,8561,8478,Leu,TAA,0,0,53.4,pseudo,8477,8423,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,ACCCCTTTATCCGAACAGGTATAGGAGATGGTCTTAAACACCATTT...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAATGCT...,1.0
1,SAMEA1906455_a1_ct67271_vs1@Unclassified_virus...,1,17583,17654,Sup,CTA,0,0,60.8,NaN,17655,17710,|GAATAGC|GTA|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTC...,TCTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCGTAAGTAGAAACCTCCACGTGGTGCTATTCGGATAACGC...,1.0
2,SAMEA1906581_a1_ct61757_vs1@Siphoviridae__sp__...,3,113271,113199,Met,CAT,0,0,53.9,NaN,113198,113143,|GAGTTGC|AG|TTAGTCA|ACC|T|CC|ACGT|GGT|GCAACTT|...,CGCGGGGTATAGCAACAGGTAGCTTGTCAGTCTCATAATCTGAAGG...,GAGTTGCAGTTAGTCAACCTCCACGTGGTGCAACTTGGATTAAAAC...,1.0
3,SAMEA2580118_a1_ct141914_vs1@Podoviridae__sp__...,16,33852,33767,Leu,TAA,0,0,55.7,NaN,33766,33712,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCCAGAATGGTGGAATTGGTAGACACGTTAGAATTAAGATCTAATG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,1.0
4,SAMEA2580118_a1_ct141914_vs1@Podoviridae__sp__...,9,41510,41431,Met,CAT,0,0,42.9,NaN,41430,41376,|GATTCAC|AT|AGTAAGA|ACC|T|CC|ACGC|GGT|GTGAATC|...,CGTGGAGTAGAGAAGTTGGTCATCTCGCTAGGCTCATAACCTAGAA...,GATTCACATAGTAAGAACCTCCACGCGGTGTGAATCGGGTAATGCT...,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12510,SRR1522982.2622580,1,111,182,Sup,CTA,0,0,58.4,NaN,183,238,|GAATAGC|GTA|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTC...,TCTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCGTAAGTAGAAACCTCCACGTGGTGCTATTCGGATAACGC...,NaN
12511,SRR1522982.4111288,1,147,63,Ser,GCT,0,0,39.6,NaN,60,4,|GGAATAC|GTG|ATATTCA|ACC|T|CC|TCGT|GGT|GTATTCT...,GTACTCAAGTTGGTTAAGAGGAGGCACTGCTAACGCCTTAGACCAA...,GGAATACGTGATATTCAACCTCCTCGTGGTGTATTCTGGGTCATGC...,NaN
12512,SRR1522982.4750961,1,91,181,Ser,GCT,0,0,51.2,NaN,184,240,|GGAATAC|GTG|ATATTCA|ACC|T|CC|TCGT|GGT|GTATTCT...,GATAAGGTACTCAAGTTGGTTAAGAGGAGGCACTGCTAACGCCTTA...,GGAATACGTGATATTCAACCTCCTCGTGGTGTATTCTGGGTCATGC...,NaN
12513,SRR1522982.5505649,1,102,192,Ser,GCT,0,0,51.0,NaN,195,251,|GGAATAC|GTG|ATATTCA|ACC|T|CC|TCGT|GGT|GTATTCT...,GATAAGGTACTCAAGTCGGTTAAGAGGAGGCACTGCTAACGCCTTA...,GGAATACGTGATATTCAACCTCCTCGTGGTGTATTCTGGGTCATGC...,NaN
12514,SRR1522982.5876801,1,249,163,Ser,GCT,0,0,45.3,NaN,160,104,|GGAATAC|GTG|ATATTCA|ACC|T|CC|TCGT|GGT|GTATTCT...,AGGTACTCAAGTTGGTTAAGAGGAGGCACTGCTAACGCCTTAGACC...,GGAATACGTGATATTCAACCTCCTCGTGGTGTATTCTGGGTCATGC...,NaN

In [15]:
df1str=merged.to_csv(header=True,sep=",")
f= open("final_combined_hits_march.csv","w+")
f.write(df1str)
f.close()

In [6]:
fin=pd.read_csv("final_combined_hits_march.csv",sep=",",index_col=0)

In [7]:
fin["trna_type"].value_counts()

Met      4970
Sup      2643
Leu      1703
Gln       689
Undet     654
Ser       584
Pro       464
Glu       351
Lys       220
Asn       172
Thr       165
Arg       142
Trp       117
Ala        91
Val        77
Ile        54
Cys        45
Asp        45
His        26
Tyr        23
Gly        14
Phe         8
Name: trna_type, dtype: int64

array(['Met', 'Undet', 'Ser', 'Thr'], dtype=object)

In [8]:
#check which ribo is associated with most different trnas
for unirib in fin["rnarobo_seq"].unique():
    df_uni=fin[fin["rnarobo_seq"]==unirib]
    if len(df_uni["trna_type"].unique())>7:
        print(unirib)

|GAATGTA|CAT|GATAGTA|ACC|T|CC|ACGC|GGT|TACATTT|GG|GTTATG|CTAAT|GACTATC|
|GGCATC|AG|GAGAGAA|GCC|T|GC|TCGT|GGC|GATGCT|GC|TTTTA|CTGA|TTCTCTC|

In [26]:
rib1=fin[fin["rnarobo_seq"]=="|GAATGTA|CAT|GATAGTA|ACC|T|CC|ACGC|GGT|TACATTT|GG|GTTATG|CTAAT|GACTATC|"]

In [27]:
rib2=fin[fin["rnarobo_seq"]=="|GGCATC|AG|GAGAGAA|GCC|T|GC|TCGT|GGC|GATGCT|GC|TTTTA|CTGA|TTCTCTC|"]

In [28]:
rib1["trna_type"].unique()

array(['Sup', 'Gln', 'Ser', 'Leu', 'Trp', 'Val', 'Tyr', 'Undet'],
      dtype=object)

In [30]:
rib2["trna_type"].value_counts()

Arg      120
Undet     45
Phe        4
Ser        4
Thr        3
His        3
Pro        2
Asn        2
Met        2
Leu        2
Gln        1
Trp        1
Ile        1
Lys        1
Name: trna_type, dtype: int64

In [ ]:
#look for the specific ribozymes analyzed by kasi:
#>pKK1_trz
#GAAACACAAGAUUGAAACCUCCACGUGGUGUGUUUUGGGUAAAGCUAAUUCAAUC
#>pKK1_tRNA
#GCCAGAAUGGUGGAAUUGGUAGACACGUUAGAAUUAAGAUCUAAUGCCCAGUAAUGGGCGUGUGGGUUCGAGUCCCACUUCGGGUA

In [40]:
ribseq1="GAAACACAAGAUUGAAACCUCCACGUGGUGUGUUUUGGGUAAAGCUAAUUCAAUC".replace("U","T")
trnaseq1="GCCAGAAUGGUGGAAUUGGUAGACACGUUAGAAUUAAGAUCUAAUGCCCAGUAAUGGGCGUGUGGGUUCGAGUCCCACUUCGGGUA".replace("U","T")

In [43]:
#ribozyme 1
r1=fin[fin["ribozyme_control"]==ribseq1]
r1

,ID,trna_nr,trna_start,trna_end,trna_type,codon,ins_start,ins_end,trna_confidence,psuedo,rnarobo_start,rnarobo_end,rnarobo_seq,trnaseq,ribozyme_control,study_origin
3,SAMEA2580118_a1_ct141914_vs1@Podoviridae__sp__...,16,33852,33767,Leu,TAA,0,0,55.7,NaN,33766,33712,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCCAGAATGGTGGAATTGGTAGACACGTTAGAATTAAGATCTAATG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,1.0
23,SAMN06164852_a1_ct144124_vs1@linear@Unclassifi...,23,23975,23888,Leu,TAA,0,0,46.7,NaN,23889,23835,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,CTACCATATGGTGGAATTGGTAGACACGTCAGATTTAAGCTCTGAT...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,1.0
24,SAMN06164891_a1_ct2575@circular@Unclassified_v...,24,11819,11734,Leu,TAA,0,0,66.7,NaN,11733,11679,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCCCGAATGGTGGAATTGGTAGACACGTCAGATTTAAGCTCTGATG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,1.0
25,SAMN06164915_a1_ct144655_vs1@linear@Unclassifi...,24,69337,69422,Leu,TAA,0,0,66.7,NaN,69423,69477,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCCCGAATGGCGAAATTGGTAGACGCGTCAGATTTAAGCTCTGATG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,1.0
61,uvig_4950,5,6980,7064,Leu,TAA,0,0,59.9,NaN,7065,7119,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCCCGGATGGTGGAATTGGTAGACACGTCAGATTTAAGCTCTGATG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11673,SRR1275433.1417166,1,29,114,Leu,TAA,0,0,55.7,NaN,115,169,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCCAGAATGGTGGAATTGGTAGACACGTTAGAATTAAGATCTAATG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,NaN
11674,SRR1275433.1516093,1,22,107,Leu,TAA,0,0,55.7,NaN,108,162,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCCAGAATGGTGGAATTGGTAGACACGTTAGAATTAAGATCTAATG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,NaN
12196,ERR2753113.1089969,1,88,190,Sup,CTA,0,0,20.9,pseudo,185,239,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GTTTCAATCTTGTGTTTCTAACAGAAGTGTGACTCTAAACCACACG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,NaN
12457,ERR2738330.2355637,2,491,406,Leu,TAA,0,0,55.7,NaN,405,351,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCCAGAATGGTGGAATTGGTAGACACGTTAGAATTAAGATCTAATG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,NaN
12459,ERR2607507.397462,1,141,212,Leu,TAA,0,0,26.6,pseudo,213,267,|GAAACAC|AA|GATTGAA|ACC|T|CC|ACGT|GGT|GTGTTTT|...,GCAATAGATATCGTCAGATTTAAGCTCTGATGCCCAGTAATGGGCG...,GAAACACAAGATTGAAACCTCCACGTGGTGTGTTTTGGGTAAAGCT...,NaN

In [71]:
#different trnas associated with ribo1
r1["trna_type"].value_counts()

Leu      214
Undet     12
Gly        1
Sup        1
His        1
Name: trna_type, dtype: int64

In [45]:
r1t=r1[r1["trnaseq"]==trnaseq1]

In [47]:
len(r1t)

51

In [ ]:
#>pKK2_trz
#GAAUAGCAAAUGAGAAACCUCCACGUGGUGCUAUUUGGGUAACGCUAAUUCUCAU
#>pKK2_tRNA
#ACCCCUUUAUCCGAACAGGUAUAGGAGAUGGUCUUAAACACCAUUUGGCAUAAGCCAGUCUGGGUUCGAGUCCCAGAAGGGGUA

In [48]:
ribseq2="GAAUAGCAAAUGAGAAACCUCCACGUGGUGCUAUUUGGGUAACGCUAAUUCUCAU".replace("U","T")
trnaseq2="ACCCCUUUAUCCGAACAGGUAUAGGAGAUGGUCUUAAACACCAUUUGGCAUAAGCCAGUCUGGGUUCGAGUCCCAGAAGGGGUA".replace("U","T")

In [49]:
#ribozyme 1
r2=fin[fin["ribozyme_control"]==ribseq2]
r2

,ID,trna_nr,trna_start,trna_end,trna_type,codon,ins_start,ins_end,trna_confidence,psuedo,rnarobo_start,rnarobo_end,rnarobo_seq,trnaseq,ribozyme_control,study_origin
51,SRS017375_a1_ct1878@circular@Unclassified_viru...,6,8296,8379,Leu,TAA,0,0,53.4,pseudo,8380,8434,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,ACCCCTTTATCCGAACAGGTATAGGAGATGGTCTTAAACACCATTT...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,1.0
257,uvig_391955,6,3083,3000,Leu,TAA,0,0,52.9,NaN,2999,2945,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,GCCCCTTTATCCGAACAGGTATAGGAGATGGTCTTAAACACCATTT...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,2.0
261,uvig_443747,7,167495,167412,Leu,TAA,0,0,53.4,pseudo,167411,167357,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,ACCCCTTTATCCGAACAGGTATAGGAGATGGTCTTAAACACCATTT...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,2.0
279,uvig_518620,6,2806,2889,Leu,TAA,0,0,53.4,pseudo,2890,2944,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,ACCCCTTTATCCGAACAGGTATAGGAGATGGTCTTAAACACCATTT...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,2.0
407,MGV-GENOME-0378364,13,7738,7655,Leu,TAA,0,0,53.4,pseudo,7654,7600,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,ACCCCTTTATCCGAACAGGTATAGGAGATGGTCTTAAACACCATTT...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12282,SRR6122152.32034167,1,2,61,Undet,NNN,0,0,20.1,pseudo,65,119,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,TAGGAGATGGTCTTAAACACCATTGGACATGTGTCCGTACGGGTTC...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,NaN
12283,SRR6122152.36213360,1,2,61,Undet,NNN,0,0,20.1,pseudo,65,119,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,TAGGAGATGGTCTTAAACACCATTGGACATGTGTCCGTACGGGTTC...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,NaN
12284,SRR6122152.36218674,1,97,183,Leu,TAA,0,0,24.0,NaN,184,238,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,GCTCACGTGGCAGCAGATACAACCATACAGATGGTCTTAAACACCA...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,NaN
12285,SRR6122152.41726647,1,107,184,Undet,NNN,0,0,25.7,NaN,185,239,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,AGCAGGTTGTAGGCGATGGAGATGGTCTTAAACACCATTGGACATG...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,NaN
12286,SRR6122152.51056845,1,130,59,Undet,NNN,0,0,23.0,pseudo,60,6,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,CTACTTATAGGAGATGGTCTTAAACACCATTGGACATGTGTCCGTA...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAACGCT...,NaN

In [51]:
#different trnas associated with ribo1
r2["trna_type"].value_counts()

Leu      113
Undet     61
Phe        1
Name: trna_type, dtype: int64

In [52]:
r2t=r2[r2["trnaseq"]==trnaseq2]

In [53]:
len(r2t)

6

In [ ]:
#>pKK4_trz
#GAAUAGCAAUAGUAGAAACCUCCACGUGGUGCUAUUUGGGUAAUGCUAAUUCUACU
#>pKK4_tRNA
#UCUCUUAUGGUGUAAUGGUCAGCACAGAAGACUCUAAAUCUUUUAGUCAGGGUUCGAAUCCUUGUGAGAGAA

In [55]:
ribseq4="GAAUAGCAAUAGUAGAAACCUCCACGUGGUGCUAUUUGGGUAAUGCUAAUUCUACU".replace("U","T")
trnaseq4="UCUCUUAUGGUGUAAUGGUCAGCACAGAAGACUCUAAAUCUUUUAGUCAGGGUUCGAAUCCUUGUGAGAGAA".replace("U","T")

In [56]:
#ribozyme 1
r4=fin[fin["ribozyme_control"]==ribseq4]
r4

,ID,trna_nr,trna_start,trna_end,trna_type,codon,ins_start,ins_end,trna_confidence,psuedo,rnarobo_start,rnarobo_end,rnarobo_seq,trnaseq,ribozyme_control,study_origin
30,SAMN09781742_a1_ct130054_vs1@Unclassified_viru...,1,13082,13153,Sup,CTA,0,0,56.2,NaN,13154,13209,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTCTTATGGTGTAATGGTCAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,1.0
476,SRR7892442.1375141,1,165,236,Sup,CTA,0,0,55.4,NaN,237,292,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTCTTATGGTGTAATGGTCAGCACAAAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
494,SRR7892442.2913468,1,158,229,Sup,CTA,0,0,56.2,NaN,230,285,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTCTTATGGTGTAATGGTCAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
514,SRR7892442.4476885,1,160,231,Sup,CTA,0,0,53.3,NaN,232,287,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTCTTATGGTGTAATGGTCAGCACAGAAGACTCTAACTCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
1660,ERR2597527.4629733,1,146,75,Sup,CTA,0,0,37.6,NaN,74,19,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,GCTCGTATAGTGTGATTGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
1757,ERR2597526.12491239,1,149,78,Sup,CTA,0,0,58.4,NaN,77,22,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
1758,ERR2597526.14634920,1,145,74,Sup,CTA,0,0,58.4,NaN,73,18,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
4344,SRR7892454.3214736,1,169,240,Sup,CTA,0,0,48.0,NaN,241,296,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,ACTCTTATGGTGTAATGGTCAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
5264,ERR2245489.28934781,1,167,96,Sup,CTA,0,0,30.2,NaN,95,40,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTTCTAAAGATATATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
5311,ERR2597357.18708787,2,152,81,Sup,CTA,0,0,54.9,NaN,80,25,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,ACTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
5321,ERR2597357.27029023,1,1,64,Sup,CTA,0,0,36.8,NaN,68,123,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAGTCAGG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
5322,ERR2597357.27029422,1,1,64,Sup,CTA,0,0,36.8,NaN,68,123,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAGTCAGG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
5323,ERR2597357.27042667,1,1,64,Sup,CTA,0,0,36.8,NaN,68,123,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAGTCAGG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
5330,ERR2597357.29014718,1,163,96,Sup,CTA,0,0,20.2,NaN,95,40,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCCATTATGCGGGGTTAGCACAGAAGACTCTAAATCTTTTAGTCAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
5331,ERR2597357.29018899,1,163,96,Sup,CTA,0,0,20.2,NaN,95,40,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCCATTATGCGGGGTTAGCACAGAAGACTCTAAATCTTTTAGTCAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
6029,ERR2597519.23635232,1,153,82,Sup,CTA,0,0,46.9,NaN,81,26,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,GTTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
6143,ERR2597413.25055173,1,146,75,Sup,CTA,0,0,60.1,NaN,74,19,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
6164,ERR2597413.41319026,1,158,87,Sup,CTA,0,0,37.6,NaN,88,33,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TTTTTTGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAGTC...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
6276,ERR2597533.18044462,1,128,197,Sup,CTA,0,0,23.8,pseudo,198,253,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTTACCATTTAATTTATAAATTGGAAGACTCTAAATCTTTTAGTC...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
6277,ERR2597533.18045027,1,128,197,Sup,CTA,0,0,23.8,pseudo,198,253,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTTACCATTTAATTTATAAATTGGAAGACTCTAAATCTTTTAGTC...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
6581,ERR2597377.9485120,1,142,213,Sup,CTA,0,0,26.3,NaN,214,269,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TATCATTTTATGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
7973,ERR2245482.18305685,1,145,216,Sup,CTA,0,0,38.1,NaN,215,270,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TTTTTTAGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAGTC...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
7982,ERR2245482.25309035,1,152,81,Sup,CTA,0,0,54.9,NaN,80,25,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,ACTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
7983,ERR2245482.25309578,1,152,81,Sup,CTA,0,0,54.9,NaN,80,25,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,ACTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
8411,SRR7892468.517596,1,21,92,Sup,CTA,0,0,56.2,NaN,93,148,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,TCTCTTATGGTGTAATGGTCAGCACAGAAGACTCTAAATCTTTTAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN
9971,ERR2597427.9373889,1,1,70,Sup,CTA,0,0,37.5,NaN,69,124,|GAATAGC|AAT|AGTAGAA|ACC|T|CC|ACGT|GGT|GCTATTT...,CTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAGTCAG...,GAATAGCAATAGTAGAAACCTCCACGTGGTGCTATTTGGGTAATGC...,NaN

In [57]:
#different trnas associated with ribo1
r4["trna_type"].unique()

array(['Sup'], dtype=object)

In [58]:
r4t=r4[r4["trnaseq"]==trnaseq4]

In [59]:
len(r4t)

3

In [ ]:
#>pKK5_trz
#GGUCACUAAAGUAGAUACUUCCACGUAGUGUGACUGGAUUAAAACUAAAAUCUACU
#>pKK5_tRNA
#AGCGGGAUGGCGCAAAGGUAGCGCGUAGCUUUCACGAGGCUGAGGUUGGUAGUUCGAAUCUAUCUCCCGCAA

In [60]:
ribseq5="GGUCACUAAAGUAGAUACUUCCACGUAGUGUGACUGGAUUAAAACUAAAAUCUACU".replace("U","T")
trnaseq5="AGCGGGAUGGCGCAAAGGUAGCGCGUAGCUUUCACGAGGCUGAGGUUGGUAGUUCGAAUCUAUCUCCCGCAA".replace("U","T")

In [62]:
#ribozyme 1
r5=fin[fin["ribozyme_control"]==ribseq5]
r5

,ID,trna_nr,trna_start,trna_end,trna_type,codon,ins_start,ins_end,trna_confidence,psuedo,rnarobo_start,rnarobo_end,rnarobo_seq,trnaseq,ribozyme_control,study_origin
6,SAMEA2737658_a1_ct63307_vs1@Podoviridae__sp__c...,1,54414,54485,Val,CAC,0,0,51.9,NaN,54486,54541,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,AGCGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTGAGGT...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,1.0
46,SAMN11252255_a1_ct192317_vs1@Podoviridae__sp__...,1,27553,27624,Val,CAC,0,0,51.9,NaN,27625,27680,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,AGCGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTGAGGT...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,1.0
102,uvig_39351,1,45583,45654,Val,CAC,0,0,53.7,NaN,45655,45710,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,AGCGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTGAGGT...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,2.0
133,uvig_75620,1,1183,1254,Val,CAC,0,0,51.9,NaN,1255,1310,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,AGCGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTGAGGT...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,2.0
136,uvig_84945,2,92341,92412,Val,CAC,0,0,51.9,NaN,92413,92468,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,AGCGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTGAGGT...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5278,SRR7162357.29186999,1,1,70,Val,CAC,0,0,42.1,NaN,71,126,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,CGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTGAGGTTG...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,NaN
5279,SRR7162357.29414344,1,9,80,Val,CAC,0,0,51.9,NaN,81,136,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,AGCGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTGAGGT...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,NaN
7047,ERR844044.602290,1,291,362,Val,CAC,0,0,53.9,NaN,363,418,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,AGCGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTAAGGT...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,NaN
12258,ERR2607524.16797178,1,170,241,Val,CAC,0,0,51.9,NaN,242,297,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,AGCGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTGAGGT...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,NaN
12259,ERR2607524.16797178,2,142,71,Val,CAC,0,0,51.9,NaN,70,15,|GGTCAC|TAA|AGTAGAT|ACT|T|CC|ACGT|AGT|GTGACT|G...,AGCGGGATGGCGCAAAGGTAGCGCGTAGCTTTCACGAGGCTGAGGT...,GGTCACTAAAGTAGATACTTCCACGTAGTGTGACTGGATTAAAACT...,NaN

In [73]:
#different trnas associated with ribo5
r5["trna_type"].value_counts()

Val    61
Ser     1
Name: trna_type, dtype: int64

In [67]:
r5t=r5[r5["trnaseq"]==trnaseq5]

In [69]:
len(r5t)

47

In [ ]:
#now let's organize the ribozymes by number of occurences
#first:

In [9]:
f=fin.copy(deep=True)

In [10]:
f.sort_values(by=['trna_type','ribozyme_control','trnaseq'], inplace=True)

f1=f["rnarobo_seq"].str.split("|",expand=True)

f2=f.join(f1)

f2=f2.iloc[:,:-1]

In [83]:
#riboz=f["ribozyme_control"].unique()

In [11]:
#lets try here to start with the value counts
riboz=f["ribozyme_control"].value_counts()

In [12]:
f1=f.reset_index(drop=True)

In [13]:
f1["ribo_nr"]=""

In [14]:
#assigns a number for each unique ribozyme
ribo_nr=1
for rib in riboz.index:
    indi=f1[f1.loc[:,"ribozyme_control"]==rib].index
    f1.iloc[indi,-1]=ribo_nr
    ribo_nr+=1

In [15]:
trnaz=f1["trnaseq"].value_counts()

In [16]:
#add a empty new column for trnanr
f1["trnanr"]=""

In [21]:
trnaz

TCTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAGTCAGGGTTCGAATCCTTGTGGGAGAA                    400
GCGCAGGTCGTCTAATGGTAGGACGCCAGACTCATTATCTGGAGGCAACGTTCAACTCGTTCGTGCGCA                       345
GCGGAGGAATGAAACGGATATATAAATCATACTAGTCTCATAAGCTAGTTATATTGGGTTCGACTCCCATCTCCGCA               226
GGGATGTTAGCAGTGGTAGCTAGTTAGCCTCATAAGCTAAAGGTCGTGGGTTCGACTCCCACTCCCTGAAGAC                   214
TCTCCTATGGTGTAATGGTTAGCACAGAAGACTCTAAATCTTTTAGCCAGGGTTCGAATCCTTGTGGGAGAA                    168
                                                                                           ...
CCTCTTATAGCTAGTTAGCCTCATAAGCTAAAGGTCGTGGGTTCGACTCCCACTCCCTGAA                                 1
CGGTGGTCTTCTAACGGTAGGATACTGGGCTCATAACCCGGAGACGCGGTTCGATTCCGCCGACCGCA                          1
GGGGCAGTGTTGGAACTGGAAGACATCTATGATTTAGGCTCATAGGCGAAGTAACAGTAGCGTGAGAGTTCGAGTCTCTCCTGCCCTA      1
TCTATTTTATAGTAGAGTAGCCTCATAAGCTAAAGGTCGTGGGTTCGACTCCCACTCCCTGAA                               1
CTGTCCATATCCGAATCGGCATAGGAGATGGTCTTAAACACCATTTGGCATAAGCCAGTCTGGGTTCGAGTCCCAGAAGGGGTAGA        1
Name: trnaseq, Length: 5810, dtype: int64

In [17]:
#assigns a number for each unique rtrna
trna_nr=1
for tr in trnaz.index:
    indi=f1[f1.loc[:,"trnaseq"]==tr].index
    #last column(trannr gets assigned the respective trna numer)
    f1.iloc[indi,-1]=trna_nr
    trna_nr+=1

In [18]:
f1.sort_values(by=["ribo_nr","trna_type","trnanr"],inplace=True)

In [19]:
f1.reset_index(inplace=True, drop=True)

In [157]:
f1[f1["ribozyme_control"]=="GGTAGCACACCTATGCGTTCCCGTCGCGCTACTGATTTAGACTAAATAGGT"]

Empty DataFrame
Columns: [ID, trna_nr, trna_start, trna_end, trna_type, codon, ins_start, ins_end, trna_confidence, psuedo, rnarobo_start, rnarobo_end, rnarobo_seq, trnaseq, ribozyme_control, study_origin, ribo_nr, trnanr]
Index: []

In [20]:
f1

,ID,trna_nr,trna_start,trna_end,trna_type,codon,ins_start,ins_end,trna_confidence,psuedo,rnarobo_start,rnarobo_end,rnarobo_seq,trnaseq,ribozyme_control,study_origin,ribo_nr,trnanr
0,ERR2597446.21203717,1,302,226,Ile,TAT,0,0,36.6,NaN,225,171,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTC|...,GTGGAATTGGTAGTCACGAGGGACTTATAATCCCTTGGTCAGGAAT...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTCGGGTAACGCT...,NaN,1,5624
1,ERR2738447.267030,1,457,372,Leu,TAA,0,0,67.9,NaN,371,317,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTC|...,GGCTCAGTGGTGGAATTGGTAGACACGAGGGACTTAAAATCCCTTG...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTCGGGTAACGCT...,NaN,1,10
2,ERR2738447.1213775,1,29,114,Leu,TAA,0,0,67.9,NaN,115,169,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTC|...,GGCTCAGTGGTGGAATTGGTAGACACGAGGGACTTAAAATCCCTTG...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTCGGGTAACGCT...,NaN,1,10
3,ERR2738447.1213775,2,490,405,Leu,TAA,0,0,67.9,NaN,404,350,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTC|...,GGCTCAGTGGTGGAATTGGTAGACACGAGGGACTTAAAATCCCTTG...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTCGGGTAACGCT...,NaN,1,10
4,ERR2738447.1678791,2,423,338,Leu,TAA,0,0,67.9,NaN,337,283,|GAATAGC|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTC|...,GGCTCAGTGGTGGAATTGGTAGACACGAGGGACTTAAAATCCCTTG...,GAATAGCAAATGAGAAACCTCCACGTGGTGCTATTCGGGTAACGCT...,NaN,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13252,ERR2607603.7739234,1,155,78,Leu,TAA,0,0,37.6,pseudo,74,20,|GAATAGT|AA|ATGAGAA|ACC|T|CC|ACGT|GGT|GCTATTT|...,CAATTATCCGAATTGGTATAGGAGATGGTCTTAAACACCATTGGAC...,GAATAGTAAATGAGAAACCTCCACGTGGTGCTATTTGGGTAATGCT...,NaN,1749,4621
13253,ERR2245461.17001665,1,302,248,Undet,NNN,0,0,16.8,pseudo,244,190,|GGCTGTT|AA|AATAGAA|GCC|T|CC|ACGT|GGC|AACAGCT|...,TGGCTAGTGCAGACGCCTTGTAAGCGTAAGGTCGGGAGTTCAAATC...,GGCTGTTAAAATAGAAGCCTCCACGTGGCAACAGCTGGGTAATGCT...,NaN,1750,5358
13254,ERR2607397.3120246,1,164,236,Met,CAT,0,0,63.5,NaN,237,291,|GATTCAC|AT|AGTAAGA|NCC|T|CC|ACGT|GGT|GTGAATT|...,CGCGGGATGGTAGCAGTGGTAGCTCGTCAGCCTCATAAGCTGAAGG...,GATTCACATAGTAAGANCCTCCACGTGGTGTGAATTGGGTTATGCT...,NaN,1751,142
13255,ERR2597411.39647135,1,1,60,Glu,TTC,0,0,28.6,pseudo,64,119,|GGGAAAC|AAA|GTATCAT|ACC|T|GC|ACGT|GGT|GTTTCCT...,GTCTAGTGGTTAGGACACCAGATTTTCATTCTGGGAACCGGAGTTC...,GGGAAACAAAGTATCATACCTGCACGTGGTGTTTCCTGCCTTTACT...,NaN,1752,3103
13256,ERR2597380.16401237,1,278,206,Sup,CTA,0,0,53.7,NaN,206,154,|GGCATT|AC|GTAAGAA|ACC|T|CC|TCGT|GGT|AATGCT|GG...,TCCGGCTTGGAGTAATGGTAGCCCGCCTGACTCTAAATCAGGTCGC...,GGCATTACGTAAGAAACCTCCTCGTGGTAATGCTGGTTAATACTAA...,NaN,1753,21

In [129]:
df1str=f1.to_csv(header=True,sep=",",index=None)
f= open("final_combined_table_sorted.csv","w+")
f.write(df1str)
f.close()

In [131]:
#generate file with unique theta ribozymes


all_unique="\n".join(f1["rnarobo_seq"].unique())

savefil=open("r2r_uniques/all_unique_thetas.txt","w")
savefil.write(all_unique)
savefil.close()

In [136]:
#also according to each amino acid
for aa in f1["trna_type"].unique():
    df=f1[f1["trna_type"]==aa]
    all_unique_spec="\n".join(df["rnarobo_seq"].unique())
    savefil=open("r2r_uniques/all_unique_thetas_"+aa+".txt","w")
    savefil.write(all_unique_spec)
    savefil.close()

In [142]:
#check the most common ribozyme in databases only
datbase_hits=f1[~f1["study_origin"].isna()]

datbase_hits["ribo_nr"].value_counts()

In [152]:
#overall most common ribos:
f1["ribo_nr"].value_counts()[5:]

6       290
7       281
8       237
9       229
10      219
       ...
1172      1
1173      1
1174      1
1175      1
877       1
Name: ribo_nr, Length: 1748, dtype: int64

In [143]:
#smallest observed ribo
smollest=100
for x in f1["ribozyme_control"].unique():
    if len(x)<smollest:
        smollest=len(x)

In [147]:
max_ribo=""
max_trnas=0
#lets see the ribozyme associated with the most different trnas:
for y in f1["ribo_nr"].unique():
    #select all ribos of the number
    dff=f1[f1["ribo_nr"]==y]
    if len(dff["trna_type"].unique())>max_trnas:
        max_ribo=y
        max_trnas=len(dff["trna_type"].unique())
    #see with how many trna type it is associated: if more than previous max, overwrite and save ribonr

In [149]:
max_trnas

14

In [154]:
#exclude undet trnas

f1_no_undet=f1[f1["trna_type"]!="Undet"]

#figure out how many ribozymes are associated with trnas encoding for more than 1 ribo
count_t=0

for y in f1_no_undet["ribo_nr"].unique():
    #select all ribos of the number
    dff=f1_no_undet[f1_no_undet["ribo_nr"]==y]
    if len(dff["trna_type"].unique())>1:
        count_t+=1

In [155]:
count_t

157

In [ ]:
#lets open the detected thetas and also include the non-trnas associated ones/upload seperately into another file

In [22]:
metaghits=open("../Databases/analysis/tables_and_result/rnarobo_result_dereplicated.txt")
metal=metaghits.readlines()
metaghits.close()

In [23]:
dbhits=pd.read_csv("../Metagenomic/tables_and_results/all_WGS_ribos.csv")

In [49]:
#remove the newlines 

dbhits["rnarobo_seq"]=dbhits["rnarobo_seq"].str.replace("\n","", regex=True)

In [31]:
sequenc=[]
for linea in metal[11:-6]:
                    #lets see if we want to append the sequence (means we found a ribo before)
                    if linea[0]=="|":
                        #line=linea.replace(".","_")
                        line=linea.strip()
                        sequenc.append(line)

In [33]:
allribos=pd.DataFrame(columns=["rnarobo_seq"])

In [35]:
allribos["rnarobo_seq"]=sequenc

In [37]:
#lets save all thetas here
df1str=allribos.to_csv(sep="\t",index=False)
f= open("../Databases/analysis/tables_and_result/all_database_ribos.csv","w+")
f.write(df1str)
f.close()

In [50]:
#all theta hits, regardless of with or w/o database hits
merged_thetas=dbhits.append(allribos, ignore_index=True)

In [99]:
all_uni_thetas=merged_thetas["rnarobo_seq"].value_counts()
trna_thet=f1["rnarobo_seq"].unique()
tht=[]
occu=[]
nbr=[]
#loops through all the thatas, and if they are not tRNA-associated check the number of occurances as well as assign a theta number
for nr, se in enumerate(all_uni_thetas.index):
    
    #these are all the trna associated thetas
    if se not in trna_thet:
        #lets save the sequence, number of occurences as well as number
 
        tht.append(se)
        occu.append(all_uni_thetas[nr])
        nbr.append(ribo_nr)
        ribo_nr+=1

In [100]:
notrna=pd.DataFrame(columns=["rnarobo_seq","occurrences","ribo_nr"])
notrna["rnarobo_seq"]=tht
notrna["occurrences"]=occu
notrna["ribo_nr"]=nbr

In [101]:
#lets save all thetas here
df1str=notrna.to_csv(sep="\t",index=False)
f= open("non_trna_asso_thetas.csv","w+")
f.write(df1str)
f.close()

In [61]:
#number and distribution of all codons
f1["codon"].value_counts()

CAT    4970
CTA    2635
TAA    1324
TTG     659
NNN     652
TGG     459
CGA     429
TTC     322
CAA     249
TTT     199
GTT     170
TGT     156
CCT     130
TAG     118
CCA     117
TGA     106
TGC      84
CAC      71
TAT      44
GCT      43
GTC      42
GCA      42
CTG      30
CTC      29
CTT      21
GTG      19
ATA      15
TCC      14
GTA       8
GAT       8
CAG       7
ATG       7
TTA       6
GGC       6
CGT       5
TCT       5
GAA       5
ACT       4
AAG       4
ACA       3
GGT       3
TAC       3
ATC       3
AAA       3
CCG       3
TCG       3
CGG       3
GGA       2
AAT       2
ATT       2
TGN       2
TCA       2
AAC       2
AGT       1
CGC       1
GAC       1
GGG       1
AGG       1
GAG       1
ACG       1
Name: codon, dtype: int64

In [ ]:
#ribo_nr: the current number of ribos (all theta associated)